/**
 * Reseting base CSS
 */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**
 * Main CSS
 */

:root {
  --neutral-100: #fff;
  --neutral-200: #e7e7e7;
  --neutral-300: #cacaca;
  --neutral-400: #acacac;
  --neutral-500: #8f8f8f;
  --neutral-600: #5f5f5f;
  --neutral-700: #313131;
  --neutral-800: #252525;
  --neutral-900: #000;
  
  --blue-100: #c3e2eb;
  --blue-200: #97cedf;
  --blue-300: #6fc7dd;
  --blue-400: #52adc4;
  --blue-500: #2a97a5;
  --blue-600: #157d81;
  --blue-700: #09595f;
  --blue-800: #043d44;
  --blue-900: #011d22;
  
  --green-100: #bcf1b2;
  --green-200: #9ae990;
  --green-300: #66db5c;
  --green-400: #4ac445;
  --green-500: #25af25;
  --green-600: #108510;
  --green-700: #0b6608;
  --green-800: #0a4404;
  --green-900: #012204;
  
  --yellow-100: #ffeba8;
  --yellow-200: #e7d360;
  --yellow-300: #dbbd36;
  --yellow-400: #c4a51c;
  --yellow-500: #a89110;
  --yellow-600: #96810a;
  --yellow-700: #7e6806;
  --yellow-800: #4b4001;
  --yellow-900: #2e2700;
  
  --red-100: #f7c1c1;
  --red-200: #e99595;
  --red-300: #e66464;
  --red-400: #d34040;
  --red-500: #b62222;
  --red-600: #971515;
  --red-700: #810b0b;
  --red-800: #640404;
  --red-900: #330101;
}

body {
  background-color: var(--neutral-100);
  color: var(--neutral-900);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

aside, main {
  padding: 12px 24px;
}

header {
  background-color: var(--neutral-200);
  padding: 24px;
}

footer {
  background-color: var(--neutral-800);
  color: var(--neutral-100);
  padding: 36px;
}
.footer-copy {
  font-weight: 700;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}
aside h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  padding-bottom: 12px;
}

h3 {
  font-size: 1.60rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  margin: 0 0 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "content"
    "aside"
    "footer";
}

.header-content { grid-area: header; }
.main-content { grid-area: content; }
.aside-content { grid-area: aside; }
.footer-content { grid-area: footer; }

@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 25% 75%;
    grid-template-areas:
      "header header"
      "aside content"
      "footer footer";
  }
}

table {
  border-collapse: collapse;
}
td, th {
  border: 1px solid var(--neutral-100);
  hyphens: auto;
  min-width: 100px;
  padding: 3px;
  word-break: break-word;
}
th {
  background-color: var(--neutral-200);
}
td.m-hide, th.m-hide {
  display: none;
}

@media screen and (min-width: 1024px) {
  td, th {
    padding: 12px;
  }
  td.m-hide, th.m-hide {
    display: table-cell;
  }
}

.success {
  background-color: var(--green-100);
}
.warning {
  background-color: var(--yellow-100);
}
.error {
  background-color: var(--red-100);
}

code, pre {
  background-color: var(--neutral-200);
  font-family: consolas, 'Courier New', Courier, monospace;
}
code {
  padding: 2px 4px;
}

.note {
  background-color: var(--blue-100);
  border-left: 5px solid var(--blue-400);
  padding: 3px 6px;
}
.note.missing {
  background-color: var(--red-100);
  border-left: 5px solid var(--red-400);
}

.note p {
  margin: 3px 3px 6px;
}
.note p:first {
  font-weight: 700;
}

.note p > b::before {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1em;
  content: "";
  display: inline-block;
  height: 1em;
  margin: 0 6px -2px 0;
  width: 1em;
}
.note p > b::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA7QAAAO0Bq2+TWQAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAADZSURBVFiF7dchDsJAEIXhf5piaFC4kmAQhJPAAUgIjiP1AGg4A5ZLYCorkTjEYiq2E2hL262aSUZsMpn3JasG5xx+AylwAZ6A69BZuWcKxHq/7givRCQB7sARmNOvlsBVROK6oUi9D8CqZ7Bf+yaEBmwGDG+F0IBJAEAtovZ/etYLuHnvGXACzqEBAuCcK4Bd07D+giFqKyKLtsMhAGugEBH3o7PQgL/KAAYwgAEMYAADGMAAGvAeIbOSoQGPEQDVDHUZJ0BOt6u4TedAUskMcJ5/62e5M9V5H0WtpXLRJvhYAAAAAElFTkSuQmCC');
}
.note.missing p > b::before {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAA3QAAAN0BcFOiBwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAHeSURBVFiFtZY/SwNBEMV/c0UUG4OtKKZNIQFLO0Wws7XwE9hY2KUVBP0I+iUEtRFEKyvBbyDaR8v4D12Lm9Ul3t7djpcHD47c7HtvhmQ24pzDChHJAJxzX1aNzGi8KiInwAAYiMiJiKyaEjjnkghsAG+AG+EbsJGsl2jeAz4KzD0/gN44A1yUmHtejCUAsFbD3HOt0QCAAHcJAe4AaTLAVoK551YjAYAJ4CFicqMsevcATDQRYDdicBjUHEZqdv8VAGgDTxHxblDXjdQ8Ae0yj6pN2AdmIu+GkecQM6oRR0n3c8BLpDMHLAS1CyV1L8CcZQJ7wGRp+nqYVK1iRLpfBD5LukqZgFOtxZQJHGC8KSPIVPMvCrpfqejGMgHPldKfIfnKvR1jgFtGVvTomDeBpZTZJmJJPX4RdNEC7mt04dkJznYSzt0DraIJbKtQXaxHnqvQUa8c2sE0+f+7ul34NbunjK3rGAfA9M+XENhPFGiC++rNLPkut4iUXcdVHKo3faNAneu4in2Aa+Ph5SDAslHjCuDZePiYfMVm+mzReAY4Mx52wKPSev48A06xY15pxSnk+/+oRtqmeQRIeAntAJfA6xhNX9VjB72UxC8DDxFpAVO2iVZi6Jx7Dz/4BpoElCnyeT66AAAAAElFTkSuQmCC');
}
